* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: wheat;
}
.side-bar,
.main-content {
  display: inline-block;
  /* height: 100vh; */
}
.side-bar {
  background: #2f345f;
  padding: 10px;
  /* width: 15%; */
}
.main-content {
  background: #322f4f;
  /* width: 85%; */
}
.logo {
  margin-bottom: 10px;
}
