* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
.parent {
  background: lightcoral;
  width: 200px;
  outline: darkblue dashed 2px;
  /* overflow: hidden; */
  /* padding: 10px; */
}
.child {
  background: lightgreen;
  width: 220px;
  padding: 20px;
}
body > * {
  /* width: 100px; */
}
.block-1 {
  background: lightblue;
}
.block-2 {
  background: rgb(101, 189, 219);
  display: inline-block;
  width: 100%;
  height: 200px;
  padding: 0px;
}
.block-3 {
  background: rgb(42, 173, 217);
  display: inline-block;
  width: 100%;
}
.block-4 {
  background: rgb(1, 148, 196);
  display: inline-block;
  width: 100%;
}
.parent-first {
  background: wheat;
}
.parent-last {
  background: whitesmoke;
}
